.jumbotron {
  vertical-align: middle;
  padding: auto;
  background-size: auto;
  background-color: magenta;
}
.badge {
  display: inline-block;
  padding: 0.50em 0.5em;
  font-size: 200%;
  font-weight: 600;
  line-height: 1;
  text-align: left;
  white-space: normal;
  vertical-align: baseline;
  border-radius: 1rem;
  transition: color 2s ease-in-out, background-color 2s ease-in-out, border-color 2s ease-in-out, box-shadow 2s ease-in-out;
}

.carousel {
  position: relative;
  columns: 30px;
}
.carousel-inner {
  display: inline;
  color: rgb(35, 18, 66);
}

.card {
  position: relative;
  display: list-item;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 3;
  word-wrap: break-word;
  background-color: rgb(155, 51, 51);
  background-clip: padding-box;
  border: 1px solid rgba(168, 124, 124, 0.125);
  border-radius: 1rem;
}

h2 {
  font-size: 30px;
color: rgb(161, 95, 106);
}
p.important {
  width: 80%;
  color: #8fe48f;
  background-color: rgb(131, 185, 216);
}
.special {
  color: rgb(235, 129, 129);
  text-align: auto;
}
img {
  vertical-align: middle;
  float: left;
  size: 0.2%;
}
.sidebar {
  float: left;
  color: rgb(164, 91, 233);
  width: auto;
  background-color: cadetblue;
  background-size: 100%;

}
.card-img {
  size: 30px;
  width: auto;
}

.display-4 {
  font-weight: initial;
}
.resize {
  width: 100px;
  height: auto;
}
.resize-2 {
  width: 100px;
  height: auto;
}